<h1>Details for Order <%= @order.id %></h1>

<p>Name: <%= @order.pretty_name %></p>
<p>Quantity: <%= @order.quantity %> </p>
<p>Topping: <%= @order.topping %></p>

<hr/>

<form action="/pizza-orders/<%= @order.id %>/delete" method="post">
    <input type="submit" value="Cancel Order">
</form>
